* {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.navbar{
  background-color: #DE6E4B;
  z-index: 100;
  position:absolute ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.navbar a{
  color: #EEE;
  text-decoration: none;
 
}
.navbar .logo{
  font-weight: bold;
 text-decoration: none;
}

.navbar .nav-links ul {
  display: flex;
}
.navbar .nav-links ul li {
  margin: 0 15px;
  list-style: none;
}


.navbar .menu-hamb {
  display: none;
  position: absolute;
  right: 50px;
  top:50px;
  width: 25px;
}


header {
  height: 80vh;
  background-image: url("./images/VeilleT/remix-numerique-innovation-avancee-puce-technologie-ia-futuriste.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: #fff;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}
header a {
  background: #2ecc71;
color: #fff;
padding: 10px 18px;
font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.header{
  text-align: center;
  color: black;
  padding: 1rem;
  position: relative;
}
.header::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
}
#about {
  padding: 20px;
} 
#about p {
  text-align: justify;
  margin-left: 120px;
  margin-right: 120px;
  line-height: 1.3em;
  
}
.row {
  padding-top: 2em;
}
.section_padding {
	padding: 35px 0;
}
.section_heading {
	margin-bottom: 30px;
}
.section_heading h2 {
	color: #222;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 30px;
	text-transform: uppercase;
}
.section_heading h2 span {
	color: orangered;
}
.section_heading p {
	font-size: 16px;
	margin: 10px 0 5px;
}
.single-blog {
	transition: all 0.30s ease 0s;
}
.single-blog:hover {
	transform: translateY(-10px);
}
.single-blog .post-img {
	position: relative;
}
.single-blog .post-img img {
	max-width: 100%;
	height: 45vh;
}
.single-blog .post-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(255, 69, 0, 0.6);
	transition: all 0.30s ease 0s;
}
.single-blog:hover .post-img:after {
	opacity: 1;
}
.single-blog .single_blog {
	border-top: none;
	padding: 25px 20px 25px;
	background: #fff;
	position: relative;
}
.single-blog .post-title {
	margin: 0 0 15px 0px;
	font-size: 20px;
	color: #333;
	display: inline-block;
	text-transform: capitalize;
	transition: all 0.3s ease 0s;
}
.single-blog .blog-text {
	font-size: 15px;
	line-height: 23px;
	margin: 7px 0 10px;
}
.icon-area {
	list-style: none;
	font-size: 14px;
	padding: 0;
}
.icon-area>li {
	display: inline-block;
	margin-right: 5px;
	color: #555;
	font-style: italic;
}
.icon-area>li i {
	color: orangered;
	margin-right: 5px;
	font-size: 14px;
}
.btn-area a {
	background: linear-gradient(to right, #ff512f, #f09819);
	font-size: 14px;
	letter-spacing: 0.5px;
	padding: 11px 22px;
	margin: 10px 0px 10px;
	border: none;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	transition: all 0.2s ease-in-out 0s;
}
footer {

  height: auto;
  padding-top: 40px;
  width: auto;
  font-family: "Open Sans";
  color: #EEE;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  1rem 4rem 0 0;
}
.socials li {
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 2.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
color: aqua;
}

.footer-bottom{
  background: #000;
  width: auto;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-nav{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}
.footer-nav ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.footer-nav ul li{
  display: inline-block;
  margin: 10px 20px;	 
}
.footer-nav ul li a{
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-nav ul li a:hover{
  color:  #e67e22;
}
.chevron{
  width: 100%;
  height: auto;
  margin: auto;
}
.chevron ul{
  
  text-align: center;
  list-style: none;
}

.chevron ul li{
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background:#fff; 
}
.chevron ul li a{
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
}
.chevron ul li a i{
  line-height: 50px;
}
.chevron ul li:hover{
  background: #e67e22;
}
.chevron ul li a:hover >i{
  transform: scale(1.6) rotate(180deg);
}


@media screen and (max-width:900px) {
  #about p {
   
    margin-left: 0;
    margin-right: 0;
  }    
  .navbar{
    padding: 30px;
  }
  .navbar .logo{
    position: absolute;
    top: 20px;
    left: 50px;
  } 
  .navbar .menu-hamb {
    display: block;
    top: auto;
  }
  .nav-links{
    top:0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .nav-links.mobile{
    margin-left: 0;
  }

  .nav-links ul{
   flex-direction: column;
   display: flex;
   align-items: center;
  }
  
 
 

  .navbar .nav-links ul li {
    margin:23px 0;
  font-size: 1.2em;
  }
}

@media screen and (max-width:650px) {
  header h1 {
    font-size: 45px;
  }
  header p {
    font-size: 20px;
  }
  #about p {
    font-size: 16px;
    font-family: initial;
        margin-left: 0;
        margin-right: 0;
      }
 
}
@media(max-width:691px ){
  .footer-nav ul li a{
    font-size: 16px;
  }
  }
  @media(max-width:604px ){
  .footer-nav ul li a{
    font-size: 14px;
  }
  .footer-nav ul li{
    padding: 0px ;
  }
  }
  @media(max-width:559px ){
  
  .footer-nav ul li a{
    font-size: 13px;
  }
  
  }
  @media(max-width:539px ){
  .footer-nav ul li a{
    font-size: 11px;
  }
  .footer-nav ul li{
    margin: 5px 20px;
  }
  .footer-nav ul li.p1 {
      padding-top: 10px;
  }
  }
  @media(max-width:380px ){
    .footer-nav ul li{
      display: block;
      padding: 5px;
    }

  }
  @media(max-width: 375px){
    .footer-nav ul li.p1 {
      padding-top: 0px;
  }
  }

